<div class="assets-listing">
  <app-filters
    class="assets-listing__filters"
    (searchQueryChange)="searchQueryChange($event)"
    (categoriesSelectionChange)="categoriesSelectionChange($event)"
    (licensesSelectionChange)="licensesSelectionChange($event)"
  />
  <div class="assets-listing__grid" [attr.aria-busy]="loading()">
    @if (!isServer && loading()) {
      @for (item of getSkeletonArray(); track item) {
        <app-asset-card-skeleton />
      }
    } @else {
      @for (asset of assets(); track asset.id) {
        <app-asset-card [asset]="asset" />
      }
    }
  </div>
</div>
