@if (breadcrumbs.length > 0) {
  <nz-breadcrumb>
    <nz-breadcrumb-item>
      <a routerLink="/" class="va-top">
        <i class="bx bx-home"></i>
      </a>
    </nz-breadcrumb-item>
    @for (crumb of breadcrumbs; track $index) {
      <nz-breadcrumb-item>
        @if (crumb.isActive) {
          <span>
            {{ crumb.label }}
          </span>
        } @else {
          <a [routerLink]="crumb.url">
            {{ crumb.label }}
          </a>
        }
      </nz-breadcrumb-item>
    }
  </nz-breadcrumb>
}
